<hr>
<h1>Listado de Productos</h1>
<hr>
{{#each productos}}
    <div id="productos">
            <p>{{this.title}} 
                {{this.description}} 
                {{this.price}} 
                {{this.category}} 
                {{this.stock}} 
                {{this.code}} 
                {{this.status}}
            </p>
            <hr>

    </div>
{{/each}}

